.v-application {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.v-lazy {
  // Need this to be able to set 'position: absolute' relative to the v-lazy for loading indicators inside it.
  position: relative;
}

.content-section {
  .tabs-container {
    padding: 0px;
  }
}

.v-tabs {
  .v-tab {
    letter-spacing: 0;
  }

  .v-tabs-bar {
    height: 60px;

    .team-image {
      padding-right: $d11-spacer;
    }
  }

  .v-tabs-items {
    padding-top: $d11-spacer;

    .h1-container {
      padding-top: $d11-spacer;
    }
  }
}

.v-card {
  .v-card__text,
  .v-card__subtitle {
    color: unset !important;
    font-size: unset;
    line-height: unset;
  }

  .v-card__subtitle {
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .v-card__title + .v-card__subtitle {
    margin-top: $d11-spacer;
  }

  .v-card__text {
    padding-top: 6px;
  }

  .v-card__text:not(:last-child) {
    padding-bottom: 0;
  }
}

.v-card-link {
  text-decoration: none;
}

.h1-container {
  padding-bottom: $d11-spacer;
}

.not-finalized {
  color: var(--v-error-darken3);
}

.vertical-align-test {
  background: $d11-50-50-test-background;
}
