.v-application {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;

  .v-app-bar {
    a.menu-link {
      letter-spacing: 0;
      font-weight: bold;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: var(--v-menuText-base);
      margin-right: $d11-large-spacer;
    }
  }
}

.v-lazy {
  // Need this to be able to set 'position: absolute' relative to the v-lazy for loading indicators inside it.
  position: relative;
}

.content-section {
  .tabs-container {
    padding: 0px;
  }
}

.v-main,
.v-dialog {
  .v-btn:not(.navigation-btn) {
    background-color: rgba(0, 10, 60) !important;
    letter-spacing: 0 !important;
    font-weight: bold !important;
    font-size: 0.875rem !important;
    min-height: 44px;
    min-width: 193px !important;
  }
}

.v-menu__content.v-autocomplete__content {
  .v-list {
    background-color: $menu-background-color;
  }
}

.v-tabs {
  .v-tab {
    letter-spacing: 0;
  }

  .v-tabs-bar {
    height: 60px;

    .team-image,
    .d11-team-image {
      padding-right: $d11-spacer;
    }
  }

  .v-tabs-items {
    padding-top: $d11-spacer;

    .h1-container {
      padding-top: $d11-spacer;
    }
  }
}

.v-card {
  .v-card__text,
  .v-card__subtitle {
    color: unset !important;
    font-size: unset;
    line-height: unset;
  }

  .v-card__subtitle {
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .v-card__title + .v-card__subtitle {
    margin-top: $d11-spacer;
  }

  .v-card__text {
    padding-top: 6px;
  }

  .v-card__text:not(:last-child) {
    padding-bottom: 0;
  }
}

.v-card-link {
  text-decoration: none;
}

.horizontal {
  display: flex;
}

.emphasised {
  font-weight: 600;
}

.active-message {
  color: var(--v-error-base);
}

.h1-container {
  padding-bottom: $d11-spacer;
}

.not-finalized {
  color: var(--v-error-darken3);
}

.vertical-align-test {
  background: $d11-50-50-test-background;
}

.v-application-xs {
  .v-tab {
    width: 100%;
  }

  .v-slide-group__prev,
  .v-slide-group__next {
    display: none !important;
  }

  .v-btn {
    width: 100%;
  }

  .container:not(.tabs-container) {
    padding: $d11-spacer;
  }
}
