.v-application {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.tabs-container {
  padding: 0px;
}

.v-tabs {
  .v-tabs-bar {
    height: 60px;

    .team-image {
      padding-right: $d11-spacer;
    }
  }
}

.h1-container {
  padding-bottom: $d11-spacer;
}
